src/main/resources/xsd/iso_schematron.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        targetNamespace="http://purl.oclc.org/dsdl/schematron"
        xmlns="http://purl.oclc.org/dsdl/schematron"
>
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd">
        <xs:annotation>
            <xs:documentation>
                Get access to the xml: attribute groups for xml:lang
                as declared on 'schema' and 'documentation' below
            </xs:documentation>
        </xs:annotation>
    </xs:import>

    <!-- Element declarations -->
    <xs:element name="schema">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="foreign" />
                <xs:element ref="include" />
                <xs:choice>
                    <xs:element ref="title" />
                    <xs:element ref="ns" />
                    <xs:element ref="p" />
                    <xs:element ref="let" />
                    <xs:element ref="phase" />
                    <xs:element ref="pattern" />
                    <xs:element ref="diagnostics" />
                </xs:choice>
            </xs:choice>
            <xs:attribute name="id" type="xs:ID" />
            <xs:attributeGroup ref="rich" />
            <xs:attribute name="schemaVersion" type="non-empty-string" />
            <xs:attribute name="defaultPhase" type="xs:IDREF" />
            <xs:attribute name="queryBinding" type="non-empty-string" />
            <xs:attributeGroup ref="foreign" />
        </xs:complexType>
    </xs:element>
    <xs:element name="active">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="foreign" />
                <xs:choice>
                    <xs:element ref="dir" />
                    <xs:element ref="emph" />
                    <xs:element ref="span" />
                </xs:choice>
            </xs:choice>
            <xs:attribute name="pattern" use="required" type="xs:NMTOKEN" />
            <xs:attributeGroup ref="foreign" />
        </xs:complexType>
    </xs:element>
    <xs:element name="assert">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="foreign" />
                <xs:choice>
                    <xs:element ref="name" />
                    <xs:element ref="value-of" />
                    <xs:element ref="emph" />
                    <xs:element ref="dir" />
                    <xs:element ref="span" />
                </xs:choice>
            </xs:choice>
            <xs:attribute name="test" use="required" type="exprValue" />
            <xs:attribute name="flag" type="flagValue" />
            <xs:attribute name="id" type="xs:ID" />
            <xs:attribute name="diagnostics" type="xs:IDREFS" />
            <xs:attributeGroup ref="rich" />
            <xs:attributeGroup ref="linkable" />
            <xs:attributeGroup ref="foreign" />
        </xs:complexType>
    </xs:element>
    <xs:element name="diagnostic">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="foreign" />
                <xs:choice>
                    <xs:element ref="value-of" />
                    <xs:element ref="emph" />
                    <xs:element ref="dir" />
                    <xs:element ref="span" />
                </xs:choice>
            </xs:choice>
            <xs:attribute name="id" use="required" type="xs:ID" />
            <xs:attributeGroup ref="rich" />
            <xs:attributeGroup ref="foreign" />
        </xs:complexType>
    </xs:element>
    <xs:element name="diagnostics">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="foreign" />
                <xs:element ref="include" />
                <xs:element ref="diagnostic" />
            </xs:choice>
            <xs:attributeGroup ref="foreign" />
        </xs:complexType>
    </xs:element>
    <xs:element name="dir">
        <xs:complexType mixed="true">
            <xs:group ref="foreign" />
            <xs:attribute name="value">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="ltr" />
                        <xs:enumeration value="rtl" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attributeGroup ref="foreign" />
        </xs:complexType>
    </xs:element>
    <xs:element name="emph" type="xs:string" />
    <xs:element name="extends">
        <xs:complexType>
            <xs:attribute name="rule" use="required" type="xs:IDREF" />
            <xs:attributeGroup ref="foreign-empty" />
        </xs:complexType>
    </xs:element>
    <xs:element name="let">
        <xs:complexType>
            <xs:attribute name="name" use="required" type="nameValue" />
            <xs:attribute name="value" use="required" type="xs:string" />
        </xs:complexType>
    </xs:element>
    <xs:element name="name">
        <xs:complexType>
            <xs:attribute name="path" type="pathValue" />
            <xs:attributeGroup ref="foreign-empty" />
        </xs:complexType>
    </xs:element>
    <xs:element name="ns">
        <xs:complexType>
            <xs:attribute name="uri" use="required" type="uriValue" />
            <xs:attribute name="prefix" use="required" type="nameValue" />
            <xs:attributeGroup ref="foreign-empty" />
        </xs:complexType>
    </xs:element>
    <xs:element name="p">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="foreign" />
                <xs:choice>
                    <xs:element ref="dir" />
                    <xs:element ref="emph" />
                    <xs:element ref="span" />
                </xs:choice>
            </xs:choice>
            <xs:attribute name="id" type="xs:ID" />
            <xs:attribute name="class" type="classValue" />
            <xs:attribute name="icon" type="uriValue" />
            <xs:attributeGroup ref="foreign" />
        </xs:complexType>
    </xs:element>
    <xs:element name="param">
        <xs:complexType>
            <xs:attribute name="name" use="required" type="nameValue" />
            <xs:attribute name="value" use="required" type="non-empty-string" />
        </xs:complexType>
    </xs:element>
    <xs:element name="pattern">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="foreign" />
                <xs:element ref="include" />
                <xs:element ref="title" />
                <xs:element ref="p" />
                <xs:choice>
                    <xs:choice>
                        <xs:element ref="let" />
                        <xs:element ref="rule" />
                    </xs:choice>
                    <xs:element ref="param" />
                </xs:choice>
            </xs:choice>
            <xs:attributeGroup ref="rich" />
            <xs:attributeGroup ref="foreign" />
            <xs:attribute name="abstract">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="true" />
                        <xs:enumeration value="false" />
                        <xs:enumeration value="false" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="id" type="xs:ID" />
            <xs:attribute name="is-a" type="xs:IDREF" />
        </xs:complexType>
    </xs:element>
    <xs:element name="phase">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="foreign" />
                <xs:element ref="include" />
                <xs:choice>
                    <xs:element ref="p" />
                    <xs:element ref="let" />
                    <xs:element ref="active" />
                </xs:choice>
            </xs:choice>
            <xs:attribute name="id" use="required" type="xs:ID" />
            <xs:attributeGroup ref="rich" />
            <xs:attributeGroup ref="foreign" />
        </xs:complexType>
    </xs:element>
    <xs:element name="report">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="foreign" />
                <xs:choice>
                    <xs:element ref="name" />
                    <xs:element ref="value-of" />
                    <xs:element ref="emph" />
                    <xs:element ref="dir" />
                    <xs:element ref="span" />
                </xs:choice>
            </xs:choice>
            <xs:attribute name="test" use="required" type="exprValue" />
            <xs:attribute name="flag" type="flagValue" />
            <xs:attribute name="id" type="xs:ID" />
            <xs:attribute name="diagnostics" type="xs:IDREFS" />
            <xs:attributeGroup ref="rich" />
            <xs:attributeGroup ref="linkable" />
            <xs:attributeGroup ref="foreign" />
        </xs:complexType>
    </xs:element>
    <xs:element name="rule">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="foreign" />
                <xs:element ref="include" />
                <xs:element ref="let" />
                <xs:element ref="assert" />
                <xs:element ref="report" />
                <xs:element ref="extends" />
            </xs:choice>
            <xs:attribute name="flag" type="flagValue" />
            <xs:attributeGroup ref="rich" />
            <xs:attributeGroup ref="linkable" />
            <xs:attributeGroup ref="foreign" />
            <xs:attribute name="abstract">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="true" />
                        <xs:enumeration value="false" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="id" type="xs:ID" />
            <xs:attribute name="context" type="pathValue" />
        </xs:complexType>
    </xs:element>
    <xs:element name="span">
        <xs:complexType mixed="true">
            <xs:group ref="foreign" />
            <xs:attribute name="class" use="required" type="classValue" />
            <xs:attributeGroup ref="foreign" />
        </xs:complexType>
    </xs:element>
    <xs:element name="title">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="dir" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="value-of">
        <xs:complexType>
            <xs:attribute name="select" use="required" type="pathValue" />
            <xs:attributeGroup ref="foreign-empty" />
        </xs:complexType>
    </xs:element>
    <!-- common declarations -->
    <xs:element name="include">
        <xs:complexType>
            <xs:attribute name="href" use="required" type="uriValue" />
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="rich">
        <xs:attribute name="icon" type="uriValue" />
        <xs:attribute name="see" type="uriValue" />
        <xs:attribute name="fpi" type="fpiValue" />
        <xs:attribute ref="xml:lang" />
        <xs:attribute ref="xml:space" />
    </xs:attributeGroup>
    <xs:attributeGroup name="linkable">
        <xs:attribute name="role" type="roleValue" />
        <xs:attribute name="subject" type="pathValue" />
    </xs:attributeGroup>
    <xs:group name="foreign">
        <xs:sequence>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="foreign-element" />
        </xs:sequence>
    </xs:group>
    <xs:group name="inclusion">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="include" />
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="foreign">
        <xs:attributeGroup ref="foreign-attributes" />
    </xs:attributeGroup>
    <xs:attributeGroup name="foreign-empty">
        <xs:attributeGroup ref="foreign-attributes" />
    </xs:attributeGroup>
    <xs:attributeGroup name="foreign-attributes">
        <xs:anyAttribute namespace="##other" processContents="skip" />
    </xs:attributeGroup>
    <xs:group name="foreign-element">
        <xs:choice>
            <xs:any namespace="##other" processContents="skip" />
            <xs:any namespace="##local" processContents="skip" />
        </xs:choice>
    </xs:group>
    <!-- Data types -->
    <xs:simpleType name="uriValue">
        <xs:restriction base="xs:anyURI" />
    </xs:simpleType>
    <xs:simpleType name="pathValue">
        <xs:restriction base="xs:string" />
    </xs:simpleType>
    <xs:simpleType name="exprValue">
        <xs:restriction base="xs:string" />
    </xs:simpleType>
    <xs:simpleType name="fpiValue">
        <xs:restriction base="xs:string" />
    </xs:simpleType>
    <xs:simpleType name="langValue">
        <xs:restriction base="xs:language" />
    </xs:simpleType>
    <xs:simpleType name="roleValue">
        <xs:restriction base="xs:string" />
    </xs:simpleType>
    <xs:simpleType name="flagValue">
        <xs:restriction base="xs:string" />
    </xs:simpleType>
    <xs:simpleType name="nameValue">
        <xs:restriction base="xs:string" />
    </xs:simpleType>
    <!-- In the default query language binding, xsd:NCNAME -->
    <xs:simpleType name="classValue">
        <xs:restriction base="xs:string" />
    </xs:simpleType>
    <xs:simpleType name="non-empty-string">
        <xs:restriction base="xs:token">
            <xs:minLength value="1" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
