rules/peppol-tender-1.0/CENBII/UBL/BIIRULES-UBL-T45.sch

<!-- Schematron binding rules automatically generated by Validex Generator Midran ltd -->
<!-- Data binding to UBL syntax for T45 -->
<!-- Timestamp: 2015-11-25 14:12:58 +0100 -->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" is-a="T45" id="UBL-T45">
  <param name="BII3-T45-R001" value="(cbc:ID)"/>
  <param name="BII3-T45-R002" value="(cbc:IssueDate)"/>
  <param name="BII3-T45-R003" value="(cbc:IssueTime)"/>
  <param name="BII3-T45-R004" value="count(timezone-from-time(cbc:IssueTime)) &gt; 0"/>
  <param name="BII3-T45-R005" value="(cac:SenderParty)"/>
  <param name="BII3-T45-R006" value="(cac:ReceiverParty)"/>
  <param name="BII3-T45-R007" value="(cbc:ContractFolderID)"/>
  <param name="BII3-T45-R008" value="(cac:TenderDocumentReference)"/>
  <param name="BII3-T45-R009" value="(cbc:CustomizationID)"/>
  <param name="BII3-T45-R010" value="(cbc:ProfileID)"/>
  <param name="BII3-T45-R011" value="(cbc:RegisteredDate)"/>
  <param name="BII3-T45-R012" value="(cbc:RegisteredTime)"/>
  <param name="BII3-T45-R013" value="(cbc:ID)"/>
  <param name="BII3-T45-R014" value="(cbc:DocumentTypeCode)"/>
  <param name="BII3-T45-R016" value="(./@listID = 'UNCL1001')"/>
  <param name="BII3-T45-R017" value="count(timezone-from-time(cbc:RegisteredTime)) &gt; 0"/>
  <param name="tender_reception_notification" value="/ubl:TenderReceipt"/>
  <param name="Document_Reference" value="//cac:TenderDocumentReference"/>
  <param name="Document_type" value="//cbc:DocumentTypeCode"/>
</pattern>
