rules/peppol-call-for-tender-1.0/CENBII-original/UBL/BIIRULES-UBL-T83_eSENS.sch

<!-- Schematron binding rules automatically generated by Validex Generator Midran ltd -->
<!-- Data binding to UBL syntax for T83 -->
<!-- Timestamp: 2015-11-25 14:13:29 +0100 -->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" is-a="T83" id="UBL-T83">
  <param name="BII3-T83-R001" value="(cbc:CustomizationID)"/>
  <param name="BII3-T83-R002" value="(cbc:ProfileID)"/>
  <param name="BII3-T83-R003" value="(cbc:ID)"/>
  <param name="BII3-T83-R004" value="(cbc:ContractFolderID)"/>
  <param name="BII3-T83-R005" value="(cbc:IssueDate)"/>
  <param name="BII3-T83-R006" value="(cac:ContractingParty)"/>
  <param name="BII3-T83-R007" value="(cac:TenderingTerms)"/>
  <param name="BII3-T83-R008" value="(cac:TenderingProcess)"/>
  <param name="BII3-T83-R009" value="(cac:TenderingProcess/cbc:ProcedureCode)"/>
  <param name="BII3-T83-R010" value="(cac:TenderingProcess/cac:TenderSubmissionDeadlinePeriod/cbc:EndDate)"/>
  <!-- modified by eSENS team -->
  <param name="BII3-T83-R011" value="(cac:TenderingProcess[not( contains( $procedureCodesWithoutParticipationPhase, concat(' ',normalize-space(./cbc:ProcedureCode),' ') ) ) ]/cac:ParticipationRequestReceptionPeriod/cbc:EndDate) or (contains( $procedureCodesWithoutParticipationPhase, concat(' ',cac:TenderingProcess/cbc:ProcedureCode,' ') ))"/>
  <!-- end of modification -->
  <param name="BII3-T83-R012" value="(cac:TenderingTerms/cbc:VariantConstraintIndicator)"/>
  <param name="BII3-T83-R013" value="(cac:ProcurementProject/cbc:Name)"/>
  <param name="BII3-T83-R014" value="(cac:ProcurementProject/cbc:Description)"/>
  <param name="BII3-T83-R015" value="(cac:ProcurementProject/cbc:ProcurementTypeCode)"/>
  <param name="BII3-T83-R016" value="(cac:ProcurementProject/cac:MainCommodityClassification/cbc:ItemClassificationCode)"/>
  <param name="BII3-T83-R017" value="(cac:ProcurementProject/cac:RealizedLocation/cbc:ID)"/>
  <param name="BII3-T83-R018" value="@listID='ISO3166-1:Alpha2'"/>
  <param name="BII3-T83-R019" value="@listID ='CPV'"/>
  <param name="BII3-T83-R020" value="@schemeID ='NUTS'"/>
  <param name="BII3-T83-R021" value="@listID='PR_PROC'"/>
  <param name="BII3-T83-R022" value="@listID='CONTRACT_TYPE'"/>
  <param name="BII3-T83-R023" value="@listID='BII_SUBMISSION'"/>
  <param name="BII3-T83-R024" value="@listID='PROJECT_TYPE'"/>
  <param name="Call_for_Tenders" value="/ubl:CallForTenders"/>
  <param name="Country" value="//cbc:IdentificationCode"/>
  <param name="CPV" value="//cbc:ItemClassificationCode"/>
  <param name="NUTS" value="//cac:RealizedLocation/cbc:ID"/>
  <param name="Procedure" value="//cbc:ProcedureCode"/>
  <param name="Contracting" value="//cbc:ContractingSystemCode"/>
  <param name="Submission" value="//cbc:SubmissionMethodCode"/>
  <param name="Project" value="//cbc:ProcurementTypeCode"/>
  <!-- modified by eSENS team, To Be Done: define the set of procedure which can or must be applied without participation contest -->
  <param name="procedureCodesWithoutParticipationPhase" value="' 1 X '"/>
  <!-- end of modification-->
</pattern>
